.mainContainer{
    
}
.mainGreed{
    width: 1000px;
    float: left;
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-gap: 20px;
}
.mainCart{
    width: 300px;
    margin-right: 20px;
    float: right;
    border: 2px solid gray;
    border-radius: 8px;

}